/*
COLORS:
white = rgba(255, 255, 255, 1)
black = rgba(51, 51, 51, 1)
orange = rgba(255, 165, 0, 1)
*/

/*body {font-family:Segoe UI; font-size:12px; margin:0;}
a {padding:5px; color:#F19232;}
img {border:0;}
*/

body, input {font-family: 'Segoe UI', Tahoma, Arial, Verdana;}
h4 {font-size:14px;}
li {line-height: 18px;}

#menu-leftside a:hover,
.panel-leftside a:hover,
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {background-color:#08C;background-image:none; color: #ffffff; text-decoration:none;}
/*a:active {background-color:#08C; color: rgba(255,255,255,1);}*/
body { font-size: 12px;}
legend {font-size: 14px; font-weight:bold; line-height:28px; margin-bottom:0;}

/* LAYOUT */
#header {height:67px; position: relative;z-index: 999;} 
#header .navbar {margin:0;}
#header .navbar-inner {border-radius:0; min-height:initial;}
#header .nav > .dropdown > a {padding:2px 10px; font-size:11px; line-height:18px;}
#header-content {position:fixed; top:0; left:0; right:0;}    
#content-top-shadow {position:fixed; background:url(images/header_shadow.png) no-repeat; background-size: 100% 100%; width:100%; height:10px;top: 67px; border-top: 1px solid #ddd; opacity:0;}
.external #content-top-shadow  {top:-1px;}
#menu-global {background: rgba(51, 51, 51, 1); border-bottom: 1px solid rgba(0, 0, 0, .3);}
#titlebar {background: rgba(51, 51, 51, .1); border-top:1px solid #FFF; padding:7px 43px; position:relative;}
#titlebar .dropdown {display:inline-block;}
#titlebar-tools-left {position: absolute; top:0; left:0;}
#titlebar-tools-left a {border-right:1px solid rgba(0, 0, 0, .1);/*display: inline-block;*/}
#titlebar-tools-right {position: absolute; top:0; right:0;}
#titlebar-tools-right a {border-left:1px solid rgba(0, 0, 0, .1);/*display: inline-block;*/}
#breadcrumbs {float:left;}
#user-info {float: right; margin-right: 14px;}
#breadcrumbs .btn:not(:active),
#user-info .btn:not(:active) {background: transparent;border-color: rgba(0, 0, 0, 0);box-shadow: 0 0 0;}
#system-date {vertical-align:middle; margin-left:10px;}
#app-name, 
#title {font-size: 14px;}
#title {font-weight:bold;line-height: 28px;vertical-align:middle;display: inline-block; background:url(images/breadcrumbs_separator.png) no-repeat;padding-left: 30px;}
/*
#menu-global-content,
*/
#content {/*padding-bottom:53px;*/ margin-top:20px; margin-left:20px; margin-right:20px;}

#footer {position:fixed; bottom:0; left:0; right:0; background:rgba(0, 0, 0, .1); padding:10px; font-size:11px;}
#footer-content {text-align: center; color: #666;}
.panel-leftside {position:fixed; top:0; left:-256px;width: 256px; bottom:0; background:rgba(0, 0, 0, .9); border-right:rgba(0, 0, 0, .5);z-index: 999;}
.panel-leftside-remote {width:256px; border:0;}
.fixed-bottom {margin: 0; right: 0; left: 0; position: fixed; bottom: 0;}
.fixed-bottom
{margin-left', '226px}
/*
.controlbar {position:fixed; bottom:0; left:226px; right:0; margin-bottom:0; text-align:center;}
    */
form .required {
    /*font-weight: bold;*/
}
form .required > label:after {
    color: #e32;
    content: '*';
    display:inline;
}

#panel-options li { position: relative;}
#panel-options li:hover {background-color:#F9DBA7;}
#panel-options li:hover a {color:rgba(51, 51, 51, 1);}
#panel-options .pin {background: url(images/16/pin_add.png); left: 10px;}
#panel-options .unpin { background: url(images/16/pin.png); left: 10px;}
#panel-options .delete {background: url(images/16/delete.png); right: 20px;}
#panel-options .unpin,
#panel-options .pin, 
#panel-options .delete {top: 6px; padding: 0; display: none; position: absolute; width: 16px; height: 16px;cursor: pointer;}
#panel-options li .unpin,
#panel-options li:hover .pin, 
#panel-options li:hover .delete { display: block;}
#panel-options-inset-shadow {background:-webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */ position:absolute; top:0; bottom:0; right:0px; width:20px;}
#panel-options-inset-shadow .sv-mark {position:absolute; right:0;}
.panel-leftside-content {width:200px; margin-left:55px;position: absolute;top: 0;bottom: 0; border-left: 1px solid #000; box-shadow: -56px 0 0 rgba(0,0,0,.8);}
.panel-leftside h2,
#panel-search h2 {font-size:14px; color:#FFF; margin-left:10px;margin-bottom: 0;}
.panel-leftside ul,
#panel-search ul {list-style:none; margin:0; padding:0;}
.panel-leftside li {}
#panel-options a,
#panel-search a {color:rgba(255,255,255,.8); text-decoration:none; display:block; padding:0 10px; padding-left:31px; line-height:30px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
#panel-options a:hover,
#panel-search a:hover {/*background:rgba(255, 255, 255, .6); color:rgba(51, 51, 51, 1);*/color: #FFF !important;}
#panel-options a.sv-active,
#panel-search a.sv-active {background:rgba(255, 255, 255, .9); color:rgba(51, 51, 51, 1) !important;}
#panel-search h2 {padding-left:20px;}
#panel-search a {padding-left:30px;}
#panel-search {position:fixed; top:0; right:-230px; bottom:0; background:#3F5A74; border-left:rgba(0, 0, 0, .5); width:230px;z-index: 999;}
#panel-search-inset-shadow {background:-webkit-linear-gradient(left, rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */ position:absolute; top:0; bottom:0; left:0px; width:30px;}
#panel-search-inset-shadow .sv-mark {position:absolute; left:0;}
#panel-search-content {width:200px; margin-right:30px;}
#panel-unlock {background: rgba(255,255,255,.8); position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: none;}
#panel-unlock-content {position: absolute; width: 100%; margin-top: 50%; top: -179px;}
#panel-unlock-content form {width: 300px; margin: 0 auto; padding: 120px 0;}

#pages .sv-page { display: none;}
#pages .sv-page.sv-active { display: block;}
iframe.sv-page {width:100%; border:0;}
#permanent-pages {border-bottom: 1px dashed rgba(255, 255, 255, .3); margin-bottom: 3px; padding-bottom: 3px;}
#overlay {background:#FFF; position:fixed; left:0; top:0; right:0; bottom:0; display:none;z-index: 999;}

/* LEFTSIDE TABS */
#menu-leftside {-webkit-transform: rotate(90deg); -webkit-transform-origin: 0 100%; -ms-transform: rotate(90deg); -ms-transform-origin: 0 100%;  -moz-transform: rotate(90deg); -moz-transform-origin: 0 100%; list-style: none;margin: 0;padding: 0;position: fixed;left: 0;top: 63px;z-index: 999;}
#menu-leftside li { float: left;margin-right: 3px; background: rgba(255, 255, 255, 1);}
#menu-leftside a { display:inline-block; background:rgba(0, 0, 0, .9); color:#FFF; text-decoration:none; padding: 3px 10px;}
#menu-leftside a.active { background: #666;color: #FFF;}

.menu-leftside-docked #content {margin-left:44px;}
.leftside-docked #header-content,
.leftside-docked #pages,
.leftside-docked .fixed-bottom {margin-left:226px;}
/*.leftside-docked #content { padding-left: 40px; padding-right: 40px;}*/

/* CONTROLS COMMON */
.sv-menu a, 
.ui-button {text-decoration:none; color:#333333;} 
.sv-menu-arrow-left {background: url(images/nav_left_active_mark.png);width: 15px;height: 30px;}
.sv-menu-arrow-right {background: url(images/nav_right_active_mark.png);width: 15px;height: 30px;}
.menu-docked #titlebar { padding-left:47px;}
.menu-docked #btn-nav { display: none;}

/* TOOLS */
.sv-tools a {padding:13px;/*float: left;*/}
.hidden { display: none;}
        
/* ICONS */
.sv-icon-16 {min-width: 16px; min-height:16px;line-height: 16px; display:inline-block; background-repeat:no-repeat; background-position:left center;}
.sv-icon-center { background-position: center center;}
.panel-leftside .sv-icon-16-recent-white {background-image:url(images/16/recent_white.png);padding-left: 21px;}
.panel-leftside .sv-icon-16-permanent-white {background-image:url(images/16/permanent_white.png);padding-left: 21px;}
.panel-leftside .sv-icon-16-favorite-white {background-image:url(images/16/favorite_white.png);padding-left: 21px;}
.panel-leftside .sv-icon-16-search-white {background-image:url(images/16/search_white.png);padding-left: 21px;}
.panel-leftside .sv-icon-16-loading-white {background-image:url(images/16/loading_white.gif);padding-left: 21px;}

.sv-icon-16-menu {background-image:url(images/16/menu.png);}
.sv-icon-16-home {background-image:url(images/16/home.png);}
.sv-icon-16-settings {background-image:url(images/16/settings.png);}
.sv-icon-16-search {background-image:url(images/16/search.png);}
.sv-icon-16-pin,
.sv-icon-16-favorite { background: #FFCCCC;}
        
/* JQUERY UI DIALOG */
/*
.ui-dialog {
    box-shadow: 0 0 15px rgba(102, 102, 102, 0.65);
    padding: 0;
}

.ui-dialog-titlebar {
    border: 0;
    border-bottom: 1px solid #A1C1D8;
    border-radius: 4px 4px 0 0;
    background: #BED4E3;
    background: -webkit-linear-gradient(top, #FBFCFE, #BED4E3);
    background: -moz-linear-gradient(top, #FBFCFE, #BED4E3);
    background: linear-gradient(top, #FBFCFE, #BED4E3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBFCFE, endColorstr=#FFBED4E3)";
    color: #1D3853;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
    position: relative;
}

.ui-dialog .ui-resizable-se {
    display: none !important;
}

.ui-dialog .ui-content {
    padding: 20px;
    margin-bottom: 43px;
}

.ui-dialog #message {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #A1C1D8;
}

.ui-dialog .msg-warning {
    background: url(base/images/icons/32/warning.png) no-repeat;
    padding-left: 42px;
}

.ui-dialog .ui-controlbar {
    text-align: right;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #A1C1D8;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #E9F1F5;
    background: -webkit-linear-gradient(top, #FFFFFF, #E9F1F5);
    background: -moz-linear-gradient(top, #FFFFFF, #E9F1F5);
    background: linear-gradient(top, #FFFFFF, #E9F1F5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFE9F1F5)";
}

.ui-dialog .controlbar div { padding: 6px; }

.ui-dialog h2 {
    font-size: 12px;
    margin: 0;
}
*/
/* JQUERY DRAGGABLE */
/*
.ui-draggable-dragging { z-index: 999;box-shadow: 0 0 10px rgba(0,0,0,.4);}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important;border-radius: 5px;}
.ui-sortable-placeholder * { visibility: hidden; }
.ui-sortable-helper { box-shadow: 0 0 10px rgba(0, 0, 0, .4);}
*/

/* BOOTSTRAP */
.form-horizontal .control-group { margin-bottom: 8px;}

.error .tooltip-inner {
    background-color:#B94A48;
}
.error .tooltip.right .tooltip-arrow {
    border-right-color:#B94A48;
}
.dropdown-menu {border-radius:0;}
.dropdown-menu a {font-size:11px; padding:2px 10px;}
.dropdown .dropdown-menu .menu-header { display: block; padding: 3px 20px; font-size: 11px; font-weight: bold; line-height: 20px; color: #999; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); text-transform: uppercase;}
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a { background-image: transparent;}

/* NAV-TAB */
.nav-tabs.level1 li {position:relative;}
.nav-tabs.level1>li>a:hover {background-color:rgba(206, 206, 206, 0.3);}
.nav-tabs.level1>li>a,
.nav-tabs.level1>li.active>a:hover {position:relative; /*z-index:2px;*/ background:transparent;}
.nav-tabs.level1 .amount {-webkit-transition: height 0.6s ease; -moz-transition: height 0.6s ease; -o-transition: height 0.6s ease; transition: height 0.6s ease; position:absolute; z-index:0; background:rgba(0,0,0,.1); width:100%; bottom:0;}

.nav-tabs.level1>.active>a {border:0; color:#0088cc; border-bottom:5px solid; padding-bottom:5px; font-weight:bold;}
.nav-tabs.level1>.active>a .badge{background:#0088cc;}
.nav-tabs.level1>li>a {border:0; border-radius:0; margin:0; padding-bottom:9px;}

.tabs-right>.nav-tabs.level1 {float:none; margin:0;}
.tabs-right>.nav-tabs.level1>li {margin-bottom:1px;}
.tabs-right>.nav-tabs.level1>.active>a {border:0; color:#0088cc; border-left:5px solid; padding-left:5px; padding-bottom: 9px; font-weight:bold;}
.tabs-right>.nav-tabs.level1 .amount {-webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; position:absolute; z-index:0; background:rgba(0,0,0,.1); height:100%; left:0;}

/* NAV-LIST */
.dropdown-menu a:hover .badge,
.nav-list .active .badge {text-shadow: 0 0 0; color: #08C; background: #FFF;}

/* WELL */
.well-header {margin-top: 0; margin-bottom: 0; display: block; padding: 3px 15px; font-size: 11px; font-weight: bold; line-height: 18px; color: #999; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); text-transform: uppercase;}
.well-tabs {margin-bottom:-2px;}
.well-tabs .active a,
.well-tabs .active a:hover {background:#f5f5f5; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.well.tab-content {border-top-left-radius: 0; border-top-right-radius: 0; overflow:initial; box-shadow:0 0 0;}
.well .well {border-radius: 0; box-shadow: 0 0; border: 0; border-left: 1px solid #e3e3e3;}
.well-list {padding: 8px 0;}

/* TABBABLE PAGE */
#content .tababable:first-child .menu-tabs {position: fixed;left: 0;right: 0;margin-top: -20px;background: #F7F7F7;}
#content .tabbable:first-child .menu-tabs a { color: rgba(0, 0, 0, .4);padding-bottom: 3px; border: 0; border-bottom: 5px solid transparent;}
#content .tabbable:first-child .menu-tabs a:hover {border: 0; background: transparent; border-bottom: 5px solid rgba(0, 0, 0, .4); border-width: 4px;}
#content .tabbable:first-child .menu-tabs .active a {color:#333; border: 0; background: transparent; border-bottom: 5px solid #FFA500;font-weight: bold;}
#content .tabbable:first-child .tab-content {margin-top: 40px;}
#content .tabbable:first-child .menu-tabs li:first-child { margin-left: 40px;}
#content .tabbable:first-child .menu-tabs-tools {top: 70px; position: fixed;right: 0;}
#content .tabbable:first-child .menu-tabs-tools .add-tab {text-align: center; line-height: 36px; width: 36px; font-size: 22px;display: block;}

.portlet { margin-bottom: 20px; background: #FFFFFF; border:1px solid #DDD; border-right-color: #C5C5C5; border-bottom-color: #C5C5C5;}
.portlet:hover {border-width:2px; border-color:#0088cc; margin:-1px; margin-bottom:19px;}
.portlet-header { padding: 10px; font-size: 14px; font-weight:bold; background:#f5f5f5; cursor:move;}
.portlet-content {overflow:hidden;}
.portlet-tools {display:none;}
.portlet:hover  .portlet-tools {display:block;}
.portlet-drag-hint {background: #f5f5f5; border-radius: 3px; border:1px solid #0088cc; opacity:.6;}
.portlet-drop-hint {background: #f5f5f5; border-radius: 3px; border:2px dashed #0088cc; min-height:34px;}

.portlet.dragging,
.portlet.dragging .portlet-content {display:none;}

.portlet iframe { border: 0;}
.flow-menu .icon-chevron-right {float:right; opacity:.1}
.flow-menu .active {font-weight:bold;}
.flow-menu .active .icon-chevron-right {opacity:.5;}

.input-icon {position:relative;}
.input-icon > [class*="icon"] {z-index: 2; top: 4px; left: 5px; position: absolute;}
.input-icon > input[type="text"] {padding-left:21px;}
/*
.item:hover,
[role="grid"] [role="row"]:hover {background-color:#006DCC}
.item:hover,
[role="grid"] [role="row"]:hover,
[role="grid"] [role="row"]:hover a,
.k-state-focused,
.k-state-selected a {color:#FFF;}
*/

/* SERVICE CENTER MENU */
.service-center-menu {box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.1); position:fixed; width:190px; bottom:52px; right:0; top:67px; overflow:hidden; padding-left:20px; box-sizing: border-box;}
.service-center-menu:hover {overflow:auto;}
.service-center-menu .list-tile {border:0;}
.service-center-menu .list-tile > ul > li {margin-right:0; margin-bottom:5px;}
.service-center-menu li.active {/*margin-left: -20px;*/}
.service-center-menu .list-tile > ul > li > a {height: initial;
background-position: 5px !important;
text-align: left;
padding: 10px;
padding-left: 40px;}
.service-center-menu li a {opacity: .5; box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.1); margin-left:-20px;}
.service-center-menu li.active a {opacity: 1; cursor:default; background:#08C;}
.service-center-menu li.active:before {
/*
	content: '';
	width: 0px;
	height: 0px;
	border-top: 50px solid rgba(0, 0, 0, 0);
	border-bottom: 50px solid rgba(0, 0, 0, 0);
	border-right: 20px solid #08C;
	position: absolute;
	margin-left: -20px;
	margin-top: 0;
*/
}
.service-center-menu .list-tile .icon-lock {background-image:url(images/32/lock_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-unlock {background-image:url(images/32/unlock_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-shield-add {background-image:url(images/32/shield-add_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-shield-remove {background-image:url(images/32/shield-remove_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-edit {background-image:url(images/32/edit_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-restore {background-image:url(images/32/restore_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-printer {background-image:url(images/32/printer_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-menu .list-tile .icon-payment {background-image:url(images/32/payment_white.png); background-repeat:no-repeat; background-position:center 10px;}
.service-center-content {margin-right:200px;}

/* MVVM Controls*/
.value-list .remove {margin-top: 7px; position: absolute; margin-left: -20px; display: none;}
.value-list .row-fluid:hover .remove { display: inline-block;}
.value-list-btn.empty {padding: 5px; border-radius: 6px; border: 1px dashed #ccc; background: #FAFAFA;}

/* BOOTSTRAP FORM */
.form-horizontal.readonly {padding-top:20px;}
.form-horizontal.readonly .control-label {padding:0; font-weight:bold;}
.input-append .btn {padding-bottom:3px;}
.btn-toolbar {padding:5px; margin-bottom:18px; background-color: #F5F5F5; border-radius: 4px;}

/* BOOTSTRAP CONTAINER */
.container {width:auto; max-width:1170px;}
.container-fluid {padding:0;}

/* BOOTSTRAP NAVBAR */
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar.stretch .navbar-inner {padding: 0;}
.navbar.stretch .nav {margin: 0; display: table; width: 100%;}
.navbar.stretch .nav li {display: table-cell; width: 1%; float: none;}
.navbar.stretch .nav li a {font-weight: bold; text-align: center; border-left: 1px solid rgba(255,255,255,.75); border-right: 1px solid rgba(0,0,0,.1);}
.navbar.stretch .nav li.active a {border-left-color:#d4d4d4;}
.navbar.stretch .nav li:first-child a {border-left: 0; border-radius: 3px 0 0 3px;}
.navbar.stretch .nav li:last-child a {border-right: 0; border-radius: 0 3px 3px 0;}
.navbar.stretch.static .navbar-inner {background:#FFF;}
.navbar.stretch.static .navbar-inner li .text {padding: 11px 15px 11px; text-align:center;}

.icon-pie-chart {background-image:url(images/14/pie-chart.png); background-position:0 0;}
.icon-lines-chart {background-image:url(images/14/lines-chart.png); background-position:0 0;}
.trend-up .icon-trend {background-image:url(images/16/trend-up.png); background-position:0 0;}
.trend-down .icon-trend {background-image:url(images/16/trend-down.png); background-position:0 0;}
.trend-up {color:#51a351;}
.trend-down {color:#bd362f;}

/* BOOTSTRAP FORM */
.checkbox [type="checkbox"] {margin-top:0;}

/* SERIVA INPUT LIST */
.input-list {border:1px solid #DDD; border-radius:4px;}
.input-list .icon-remove-sign {margin-top: -7px; position: absolute; right: 7px; top: 50%;}
.input-list-items {max-height:115px; overflow:auto; margin:0;}
.input-list-item {position:relative; border-bottom: 1px solid #DDD; padding:5px 10px;}
.input-list-item:first-child {border-top-right-radius: 4px; border-top-left-radius: 4px;}
.input-list-item.selectable {cursor:pointer;}
.input-list-item.selectable:hover {background:#EEE; /*color:#FFF;*/}
.input-list-item.selectable.active {
	color:#FFF; 
	background-color: #0081C2;
	background-image: -moz-linear-gradient(top, #08C, #0077B3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
	background-image: -webkit-linear-gradient(top, #08C, #0077B3);
	background-image: -o-linear-gradient(top, #08C, #0077B3);
	background-image: linear-gradient(to bottom, #08C, #0077B3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.input-list-item.selectable.active .label {text-shadow: 0 0 0; color: #0081C2; background: #FFF;}
.input-list-item.selectable.active .icon-remove-sign {background-image:url(images/glyphicons-halflings-white.png);}
.input-list-item:last-child {border:0;}
.input-list-item-action {/*padding: 3px 6px; background: white; font-size: 10px;*/ top: 5px; position: absolute; right: 25px;}
a.input-list-item-action {display:none;}
.input-list-item:hover a.input-list-item-action  {display:block; background-color:#08C;}
.input-list-add {padding:5px; overflow:hidden; background:#F7F7F9; border-radius:4px;}

/* SERIVA CIRCLE */
.circle:first-child {margin-left:0;}
.circle {position:relative; width:160px; height:160px; margin:10px; display:inline-block; text-align:center;}
.circle:hover {z-index:1;}
.circle .circle-inner {padding:30px; position:absolute; width:100px; height:100px; border-radius: 50%; background:#d3d3d3; box-shadow:0 0 10px 5px #FFF;}
.circle .circle-more {background:#CCC; padding:30px 5px; width:90px; display:block; border-radius: 50%; position:relative; min-height:40px;}
.circle .circle-type {font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:90px; line-height:18px;}
.circle .circle-count {margin-top:5px; font-size:26px;}
.circle .circle-person {border-radius: 50%; width:40px; height:40px; background:#e4e4e4; overflow:hidden; text-overflow:ellipsis; font-size:10px; line-height:10px; text-align:center; padding:5px; display:none; position:absolute;}
.circle-drop {display:none;}
.dragging .circle-drop {
	display:block;
	color: #0088cc;
	border-radius: 50%;
	border: 2px solid #0088cc;
	background: rgba(255,255,255,.9);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	right: 0;
	line-height: 156px;
}
a.circle-btn:hover {background:#08C; color:#FFF; text-decoration:none;}
.circle-btn-add {width: 160px; height: 160px; border: 2px dashed #CCC; border-radius: 50%; text-align: center; line-height: 160px; display: inline-block; margin:10px; vertical-align: top;}
.circle-btn-add:hover {border-color:#08C; border-style:solid;}
.circle-person.circle-pos2 {top: 5px; left: 50%; margin-left: -25px;}
.circle-person.circle-pos3 {top: 25%; right: 25%; margin-top: -25px; margin-right: -25px;}
.circle-person.circle-pos4 {top: 50%; right: 5px;  margin-top: -25px;}
.circle-person.circle-pos5 {bottom: 25%; right: 25%; margin-bottom: -25px; margin-right: -25px;}
.circle-person.circle-pos6 {bottom: 5px; left: 50%; margin-left: -25px;}
.circle-person.circle-pos7 {bottom: 25%; left: 25%; margin-bottom: -25px; margin-left: -25px;}
.circle-person.circle-pos0 {top: 50%; left: 5px; margin-top: -25px;}
.circle-person.circle-pos1 {top: 25%; left: 25%; margin-top: -25px; margin-left: -25px;} 

/* SERIVA FLEXIBLE BOX */
.form-horizontal .input-append.flex {
	display: -moz-flex;
	display: -webkit-flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	display : flex;
	flex-direction: row;
	min-width:initial;
	min-height:initial;
}
.flex .fluid {
	width:auto;
	-webkit-flex:1;
    flex:1;
}

/* SERIVA LIST FILES */
.list-files a {border-radius:4px; display:inline-block; min-width:102px; background:url(images/64/file.png) center 10px no-repeat; padding:10px; padding-top:74px; text-align:center; max-width:94px;}
.list-files a:hover {background-color:rgba(0,0,0,.1);}

.list-tile {padding-top: 15px; border-top: 1px solid #DDD; clear:both;}
.list-tile:first-child {border:0;}
.list-tile h2 {font-size: 14px; margin: 0; width: 150px; margin-right: 15px; float: left;}
.list-tile ul {list-style:none; margin:0; padding:0; display: table;}
.list-tile > ul > li {float:left; margin-right:15px; margin-bottom:15px;}
.list-tile > ul > li > a {width:160px; height:100px; background:#CCC; display:block; padding:10px 20px; padding-top:52px; box-sizing: border-box; text-align:center;} 
.list-tile > ul > li > a:hover {opacity:.7; text-decoration:none;}
.list-tile.blue > ul > li > a {background:#113A6D; color:#FFF;}
.list-tile.skyblue > ul > li > a {background:#0092C8; color:#FFF;}
.list-tile.green > ul > li > a {background:#029143; color:#FFF;}
.list-tile.orange > ul > li > a {background:#CE5D00; color:#FFF;}

.draggable-list-item {
	list-style:none;
	margin:0;
	padding: 1px 5px 1px 5px;
	line-height: 1.8em;
}

/* KENDO AUTOCOMPLETE */
/* KENDO CALENDAR */
.k-autocomplete ,
.k-datepicker .k-picker-wrap {border:0; border-radius:0;}
.k-autocomplete .k-input,
.k-picker-wrap .k-input {border:1px solid #CCC; height: 14px; line-height: 14px; padding: 4px 6px;}
.k-autocomplete.k-state-border-down .k-input {border-radius:4px;}
.k-autocomplete,
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused {background:transparent; background-image:transparent; box-shadow: 0 0 0;}
.k-autocomplete.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input {border-color: rgba(82, 168, 236, 0.8);}
.k-picker-wrap {padding: 0 39px 0 0;}
.k-picker-wrap .k-select {border:1px solid #CCC; border-left:0; border-radius: 0 4px 4px 0; line-height: 22px; padding: 0 4px;}
.k-picker-wrap .k-icon {background-position: -32px -176px;}

/* KENDO LIST */
.k-list-container.k-popup {border-radius:0; -webkit-border-radius: 0; padding:0; background:#FFF;}
.k-popup .k-list .k-item {cursor: pointer;}
.k-popup .k-list .k-state-hover,
.k-popup .k-list .k-state-focused {border-radius:0; border:0; background-image: -webkit-linear-gradient(top, #08C, #0077B3); padding: 1px 5px 1px 5px;}

/* KENDO WINDOW */
.k-window .form-actions {text-align: right; border-radius: 0 0 6px 6px; right: 0; left: 0; margin: 0; position: absolute; bottom: 0;}
.k-window .k-content {padding:20px;}
.k-window .k-content.with-actions {margin-bottom:64px;}
.k-window-titlebar {background: #F5F5F5; border-color: #E5E5E5; height: auto; line-height: initial;}
.k-window-title {left:10px;}
div.k-window {border:0; border-radius:2px;}

/* KENDO BUTTON */
.k-button:hover {text-decoration:none;}

/* KENDO GRID */
.k-grid,
.k-grid-header .k-header {border:0; box-shadow:0 0 0;}
.k-grid-header,
.k-grid-header .k-header {background:transparent; font-weight:bold;}
.k-grid-header a:hover {text-decoration:none; background:rgba(0, 136, 204, 1); color:#FFF;}
.k-grid-header-wrap {border:0;}
.k-grid-content {border: 1px solid #DDD; border-top: 0; box-sizing: border-box;}
.k-grid-pager {box-shadow: 0 0 0; border:0; background:transparent;}
.k-grouping-row td {background:#f5f5f5; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.k-grid-footer,
.k-grid-footer td,
.k-grid-footer-wrap {border:0; border-color:transparent;}
.k-state-selected {background:rgb(0, 136, 204);}
.k-state-selected [class^="icon-"],
.k-grid-header a:hover [class^="icon-"] {background-image:url("images/glyphicons-halflings-white.png");}
.k-selectable tr {cursor: default;}
.k-selectable tr:hover:not(.k-state-selected),
.k-selectable tr:hover:not(.k-state-selected) .tools-cell:hover .tools-hover {background:#B2DAEF;}
.k-selectable .tools-cell {position:relative;}
.k-selectable .tools-cell .tools-hover {position:absolute; right:5px;}
.k-selectable .tools-cell .tools-hover a {opacity:.3; display:none;}
.k-selectable .tools-cell .tools-hover a:hover,
.k-selectable .tools-cell .tools-hover a.visible {opacity:1;}
.k-selectable .tools-cell:hover .tools-hover a ,
.k-selectable .tools-cell .tools-hover a.visible {display:inline-block;}
.k-grouping-row {font-weight:bold;}
.k-grid-toolbar {border:0; background:transparent;}

/* SERIVA LABEL*/
.absolute-label{ position: absolute;left: 29px;margin-top: 3px;}
.relative-div{ position: relative}